<header>
    <h1>
        <a href="/">Tech Blog 1.1</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="#home">Profile</a>
            </li>
            <li>
                <a href="#dashboard">Progress</a>
            </li>
            <li>
                <a href="#login">Reference</a>
            </li>
            <li>
                <a href="#logout">Reference</a>
            </li>
        </ul>
    </nav>
</header>